<div class="row">
    <div class="col-6 offset-3">
        <form action="/workouts/<%= locals.workout.workoutID %>/edit" method="post" autocomplete="off" class="validated-form">
            <div class="mb-3">
                <h1>Edit Workout</h1>
            </div>
            <div class="mb-3">
              <label class="form-label" for="user">Select User</label>
              <select class="form-select form-select-lg mb-3" aria-label="Select User" name="userId" required>
                <option>Select a user</option>
                <% locals.users.forEach((user) => { %>
                    <% if(user.userID == locals.workout.userID) { %>
                        <option value="<%= user.userID %>" selected>
                            <%= user.firstName + ' ' + user.lastName + ' - ' + user.email %>
                        </option>
                    <% } else { %>
                        <option value="<%= user.userID %>">
                            <%= user.firstName + ' ' + user.lastName + ' - ' + user.email %>
                        </option>
                    <% } %>
                <% }); %>
              </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="date">Date</label>
                <input class="form-control" type="date" id="date" name="date" value="<%= locals.workout.formattedDate %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description"><%= locals.workout.description %></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Submit</button>
                <a class="btn btn-secondary" href="/workouts/<%= locals.workout.workoutID %>">Cancel</a>
            </div>
        </form>
    </div>
</div>
