
<div class="row">
    <div class="col-6 offset-3">
        <h1>Search Results</h1>
        <p>Entity Searched: <%= locals.entityName[0].toUpperCase() + locals.entityName.slice(1) %></p>
        <p>Search term: <%= locals.searchText %></p>
        
        <div class="mb-3">
            <% if(locals.results.length == 0) { %>
                <h3>No matches found</h3>
            <% } else { %>
                <h3>Search Results</h3>
            <% } %>
            <ul>
                <% if(locals.entityName == 'users') { %>
                    <% locals.results.forEach((user) => { %>
                        <li>
                            <a href="/users/<%= user.userID%>">
                                <%= (user.firstName + ' ' + user.lastName + ' - ' + user.email) %>
                            </a>
                        </li>
                    <% }); %>
                <% } else if(locals.entityName == 'workouts') { %>
                    <% locals.results.forEach((workout) => { %>
                        <li>
                            <a href="/workouts/<%= workout.workoutID%>">
                                <%= workout.date.toDateString() %>
                            </a>
                        </li>
                    <% }); %>
                <% } else if(locals.entityName == 'exercises') { %>
                    <% locals.results.forEach((exercise) => { %>
                        <li>
                            <a href="/exercises/<%= exercise.exerciseID%>">
                                <%= exercise.name %>
                            </a>
                        </li>
                    <% }); %>
                <% } else if(locals.entityName == 'equipment') { %>
                    <% locals.results.forEach((equipment) => { %>
                        <li>
                            <a href="/equipment/<%= equipment.equipmentID%>">
                                <%= equipment.name %>
                            </a>
                        </li>
                    <% }); %>
                <% } else if(locals.entityName == 'categories') { %>
                    <% locals.results.forEach((category) => { %>
                        <li>
                            <a href="/categories/<%= category.categoryID%>">
                                <%= category.name %>
                            </a>
                        </li>
                    <% }); %>
                <% } %>
            </ul>
        </div
    </div>
</div>
